.wrapper {
  margin: auto;
  /* padding: 10px 20px; */
}

/* navbar */
.nav {
  max-width: 1200px;
  margin: auto;
}

.list {
  /* border: 1px solid blue; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 40px;
  margin-right: 10px;
}

.h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-orange);
}

.btn {
  margin-right: 10px;
}

/* hero */
.hero {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.heroImg {
  margin-top: -20px;
  width: 100%;
}

.inputSearch {
  width: 100%;
  border: 1px solid #a0aec0;
  padding: 10px;
  margin-top: 20px;
  border-radius: 0.375rem;
  color: #000;
}

.inputSearch:focus-visible {
  outline: none;
  border: 1px solid #a0aec0;
  margin-bottom: 3px;
}

.suggestions {
  color: #000;
  padding: 8px;
  /* border-radius: 5px; */
  background-color: white;
  /* margin: 10px 0; */
}

.suggestions:hover {
  border: 1px solid var(--color-orange);
  /* border-radius: 5px; */
}

/* how */
.how {
  background-color: var(--bg-yellow-light);
}

.wrapper__how {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.how__content {
  display: flex;
  flex-direction: column;
}

.how__cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.how__content_img {
  margin: 30px 0;
  border-radius: 20px;
}

.how__carditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0;
  width: 60%;
  margin: auto;
}

.how__carditem:nth-child(3) {
  margin-bottom: 40px;
}

.color__orange {
  color: var(--color-orange);
}

/* WHY */

.why {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.why__cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__carditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 0;
  width: 100%;
}

.whyImg {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.why__carditem_desc {
  width: 70%;
}

/* hire */
.hire {
  background-color: var(--bg-yellow-light);
}

.wrapper__hire {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.hire__content_img {
  margin: 30px 0;
  border-radius: 20px;
}

.hire__cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hire__carditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0;
  width: 60%;
  margin: auto;
}

/* earn */
.earn {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.earn__content_img {
  margin: 30px 0;
  border-radius: 20px;
}

.earn__cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earn__carditem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0;
  width: 100%;
  margin: auto;
}

.earn__carditem_number {
  color: #fff;
  background-color: var(--color-orange);
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 15px;
}

.color__yellow {
  color: var(--color-yellow);
}

.bg__yellow {
  background-color: var(--color-yellow);
}

.bg__brown {
  background-color: var(--color-brown);
}

.walker {
  background-color: var(--color-yellow);
  color: #000;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */
.footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brown);
}

.footer__desc {
  color: #fff;
}

/* responsive */
@media screen and (min-width: 850px) {
  .btn {
    margin-right: 20px;
  }

  /* hero */
  .hero {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
  }

  .heroImg {
    max-width: 470px;
    margin-left: 50px;
  }

  /* how */
  .wrapper__how {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .how__content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .how__content {
    width: 57%;
  }

  .how__content_img {
    margin-bottom: 0;
  }

  /* why */

  .why__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .why__cardlist {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .why__carditem {
    width: 50%;
  }

  .whyImg {
    max-width: 100%;
  }

  /* hire */
  .wrapper__hire {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hire__cardlist {
    width: 75%;
    display: flex;
    justify-content: flex-end;
  }
  /* earn */
  .earn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .earn__carditem {
    margin-left: 30px;
  }

  .earn__carditem:nth-child(1) {
    padding: 0;
  }

  .earn__cardlist {
    width: 65%;
  }
}

@media screen and (min-width: 950px) {
  .why__cardlist {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .why__carditem {
    width: 33%;
  }
}
